@font-face {
  font-family: "Frutilla-Script";
  src: local("Frutilla"), url(../fonts/Frutilla/Frutilla_Script.ttf) format("truetype");
}

@font-face {
  font-family: "Garamond";
  src: local("Garamond"), url(../fonts/Garamond/Garamond.ttf) format("truetype");
}

@font-face {
  font-family: "Sui_generis";
  src: local("Sui_generis"), url(../fonts/Sui_generis/sui_generis_rg.ttf) format("truetype");
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  background: #faf7f6;
}

a {
  color: #3d4856;
  font-family: "Garamond";
  letter-spacing: 2px;
}

p {
  font-family: "Garamond";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sui_generis";
  letter-spacing: 5px;
}

a:hover {
  color: #9f818a;
}

.contact-info-item {
  color: #3d4856;
}

.about-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-social li {
  list-style-type: none;
  border-radius: 25%;
  background-color: white;
}

.about-social li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #9f818a;
  padding: 1rem;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.about-social li > a:hover {
  color: #3d4856;
  background-color: #d6b6c0;
}

.about-social li > a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-intro-text {
  background-color: white;
  width: 25rem;
  position: absolute;
  right: 5%;
  top: 10%;
  padding: 2rem;
  text-align: center;
}

.about-text-2 {
  background-color: white;
  margin: 7rem;
  font-size: 21px;
}

.about-last-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: auto;
}

.about-last-section div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.about-last-section .about-last-text p {
  padding: 2rem;
  font-size: 21px;
}

.about-last-section .about-last-text .about-button {
  display: block;
  text-align: center;
  width: 80%;
  margin: auto;
}

.about-last-section .about-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-last-section .about-image-container img:first-child {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  width: 100%;
  margin-bottom: 9rem;
  margin-left: 2rem;
}

.about-last-section .about-image-container img:nth-child(2) {
  width: 70%;
  margin-top: -9rem;
}

.bg-transparent {
  background: transparent;
}

.bg-transparent .nav-link {
  color: white;
}

.bg-base {
  background: #faf7f6;
}

.bg-base-color {
  background: #3d4856;
}

.bg-transparent .dropdown-menu .dropdown-item {
  color: white;
  background: transparent;
  font-size: 15px;
}

.dropdown-menu .dropdown-item {
  color: #9f818a;
}

nav.navbar.navbar-expand-md {
  -webkit-transition: background-color 500ms ease-in;
  transition: background-color 500ms ease-in;
  background: #93adcf;
}

.w-90 {
  width: 90%;
}

.navbar-collapse li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-base {
  color: white;
  background-color: #9f818a;
  border-color: #9f818a;
}

.btn-base:hover {
  background-color: #3d4856;
  border-color: #3d4856;
}

.table thead th {
  width: 1rem;
}

.link-overlay-text {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Garamond";
  letter-spacing: 3px;
  text-decoration: underline;
}

.links-to-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links-to-gallery-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.links-to-gallery-layout .two-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links-to-gallery-layout .single-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
}

.links-to-gallery-layout .single-link a {
  width: 100%;
  height: 100%;
}

.table td,
.table th {
  text-align: center;
}

.journal-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.journal-link {
  width: 350px;
  height: 450px;
  padding: 1rem;
}

.journal-link-image {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.journal-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro-image {
  background-attachment: "fixed";
  background-repeat: "no-repeat";
}

.fitted-image {
  width: 100%;
  height: 65vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
}

.contain-image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-size: contain;
  background-position: center;
}

.carousel-item {
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.delete-set {
  width: 100%;
}

.carousel-text {
  position: absolute;
  top: 20%;
  left: 0;
  color: #3d4856;
  z-index: 1;
  font-size: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-text p {
  font-family: "Frutilla-Script";
  text-align: center;
  color: white;
  margin-bottom: -1rem;
  letter-spacing: 9px;
}

.carousel-text .carousel-text-subtitle {
  color: white;
  font-family: "Sui_generis";
  letter-spacing: 10px;
  font-size: 1.6rem;
}

.carousel-text3 {
  font-size: 16px;
  font-family: "Sui_generis";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  color: white;
  position: relative;
  top: 80vh;
  letter-spacing: 8px;
}

.navbar .nav-link {
  font-size: 16px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  margin-top: 3rem;
}

footer h6,
p {
  text-align: center;
}

footer {
  background: rgba(169, 169, 169, 0.3);
}

h2,
h3 {
  color: #3d4856;
  margin: 1rem auto;
}

.come-in {
  -webkit-transform: scale(0.5) translateY(30px);
          transform: scale(0.5) translateY(30px);
  -webkit-animation: come-in 0.5s ease forwards;
          animation: come-in 0.5s ease forwards;
}

.come-in:nth-child(odd) {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  /* So they look staggered */
}

#contactForm {
  padding: 1rem;
}

#contactForm ::-webkit-input-placeholder {
  text-align: center;
}

#contactForm :-ms-input-placeholder {
  text-align: center;
}

#contactForm ::-ms-input-placeholder {
  text-align: center;
}

#contactForm ::placeholder {
  text-align: center;
}

.login-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}

.popup_inner input {
  display: block;
  margin: auto;
}

.login-button {
  display: block;
  margin: auto;
}

@-webkit-keyframes come-in {
  from {
    -webkit-transform: scale(0.75) translateY(0);
            transform: scale(0.75) translateY(0);
  }
  to {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

@keyframes come-in {
  from {
    -webkit-transform: scale(0.75) translateY(0);
            transform: scale(0.75) translateY(0);
  }
  to {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

@media (min-width: 777px) {
  .links-to-gallery-layout a:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    z-index: 100;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
}

@media (min-width: 1440px) {
  .about-intro-text {
    background-color: white;
    width: 25rem;
    position: absolute;
    right: 15%;
    top: 10%;
    padding: 2rem;
    text-align: center;
  }
}

@media (max-width: 1440px) {
  .about-intro-text {
    background-color: white;
    width: 25rem;
    position: absolute;
    right: 5%;
    top: 10%;
    padding: 2rem;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .carousel-text {
    font-size: 6rem;
  }
  .carousel-text3 {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .about-intro-text {
    background-color: white;
    width: 25rem;
    position: absolute;
    top: 10%;
    padding: 2rem;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .about-text-2 {
    background-color: white;
    margin: 3rem;
    font-size: 21px;
  }
  .about-last-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-last-section .about-last-text p {
    padding: 0.5rem;
    font-size: 21px;
  }
  .about-last-section .about-image-container {
    margin-top: 10%;
  }
  .links-to-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .links-to-gallery-layout {
    width: 100%;
  }
  .links-to-gallery-layout .single-link {
    width: 50%;
    margin: auto;
  }
  .links-to-gallery-layout .single-link a {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 500px) {
  .journal-nav {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .carousel-text3 {
    font-size: 12px;
  }
  .popup_inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
  }
  .about-intro-text {
    background-color: white;
    width: 19rem;
    position: absolute;
    top: 10%;
    padding: 2rem;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .about-text-2 {
    background-color: white;
    margin: 2rem;
    font-size: 21px;
  }
}

@media (max-width: 425px) {
  .carousel-text {
    font-size: 6rem;
  }
  .about-text-2 {
    background-color: white;
    margin: 1rem;
    font-size: 21px;
  }
}

@media (max-width: 375px) {
  .carousel-text {
    font-size: 6rem;
  }
}

@media (max-width: 337px) {
  .navbar .navbar-toggler {
    margin: auto;
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.journal-image-text {
  border: none;
  background: transparent;
  width: 100%;
}

.journal-image-text::-webkit-input-placeholder {
  text-align: center;
}

.journal-image-text:-ms-input-placeholder {
  text-align: center;
}

.journal-image-text::-ms-input-placeholder {
  text-align: center;
}

.journal-image-text::placeholder {
  text-align: center;
}

.title-input {
  border: none;
  background: transparent;
  text-align: center;
  width: 70%;
  resize: none;
  font-size: 3rem;
}

.file-drop {
  /* relatively position the container bc the contents are absolute */
  position: relative;
  height: 100%;
  width: 100%;
}

.file-drop > .file-drop-target {
  /* basic styles */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  /* --------------- */
  /* horizontally and vertically center all content */
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  text-align: center;
  /* --------------- */
}

.file-drop > .file-drop-target.file-drop-dragging-over-frame {
  /* overlay a black mask when dragging over the frame */
  border: none;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 50;
  opacity: 1;
  /* --------------- */
  /* typography */
  color: white;
  /* --------------- */
}

.file-drop > .file-drop-target.file-drop-dragging-over-target {
  /* turn stuff orange when we are dragging over the target */
  color: #ff6e40;
  -webkit-box-shadow: 0 0 13px 3px #ff6e40;
          box-shadow: 0 0 13px 3px #ff6e40;
}

[data-rbd-droppable-context-id] {
  width: 100%;
}
