@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin&display=swap");
@font-face {
  font-family: "Sallita";
  src: local("Sallita"), url(../fonts/sallita/Sallita.ttf) format("opentype");
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  background: #b4bfcf;
}

a {
  color: #3d4856;
  font-family: "Cabin", serif;
}

p {
  font-family: "Old Standard TT", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin", serif;
}

a:hover {
  color: #9f818a;
}

.contact-info-item {
  color: #3d4856;
}

.about-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-social li {
  list-style-type: none;
  border-radius: 25%;
  background-color: white;
}

.about-social li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #9f818a;
  padding: 1rem;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.about-social li > a:hover {
  color: #3d4856;
  background-color: #d6b6c0;
}

.about-social li > a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bg-transparent {
  background: transparent;
}

.bg-transparent .nav-link {
  color: white;
}

.bg-base {
  background: #b4bfcf;
}

.bg-transparent .dropdown-menu .dropdown-item {
  color: white;
  background: transparent;
  font-size: 20px;
}

.dropdown-menu .dropdown-item {
  color: #9f818a;
}

nav.navbar.navbar-expand-md {
  -webkit-transition: background-color 500ms ease-in;
  transition: background-color 500ms ease-in;
}

.w-90 {
  width: 90%;
}

.navbar-collapse li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-base {
  color: white;
  background-color: #9f818a;
  border-color: #9f818a;
}

.btn-base:hover {
  background-color: #3d4856;
  border-color: #3d4856;
}

.table thead th {
  width: 1rem;
}

.link-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: 600;
  background: #9f818a;
  padding: 0.5rem;
  font-family: "Cabin", serif;
}

.links-to-gallery {
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s, -webkit-transform 2s;
}

.links-to-gallery a {
  padding: 1.9rem;
  background-color: #9f818a;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.links-to-gallery a div {
  position: relative;
  background-repeat: no-repeat;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  background-size: cover;
  text-decoration: none;
}

.links-to-gallery a:hover {
  opacity: 0.5;
}

.table td,
.table th {
  text-align: center;
}

.journal-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.journal-link {
  width: 350px;
  height: 450px;
  padding: 1rem;
}

.journal-link-image {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fitted-image {
  width: 100%;
  height: 65vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
}

.contain-image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-size: contain;
  background-position: center;
}

.carousel-item {
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.carousel-text {
  position: absolute;
  top: 100px;
  left: 0;
  color: #3d4856;
  z-index: 1;
  font-size: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-text p {
  font-family: "Sallita";
  text-align: start;
}

.carousel-text p span {
  background-color: white;
  opacity: 0.5;
}

.navbar .nav-link {
  font-size: 21px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  margin-top: 3rem;
}

footer h6,
p {
  text-align: center;
}

h2 {
  color: #3d4856;
  margin: 1rem auto;
}

.come-in {
  -webkit-transform: scale(0.5) translateY(30px);
          transform: scale(0.5) translateY(30px);
  -webkit-animation: come-in 0.5s ease forwards;
          animation: come-in 0.5s ease forwards;
}

.come-in:nth-child(odd) {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  /* So they look staggered */
}

#contactForm {
  padding: 1rem;
}

.login-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}

.popup_inner input {
  display: block;
  margin: auto;
}

.login-button {
  display: block;
  margin: auto;
}

@-webkit-keyframes come-in {
  from {
    -webkit-transform: scale(0.75) translateY(0);
            transform: scale(0.75) translateY(0);
  }
  to {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

@keyframes come-in {
  from {
    -webkit-transform: scale(0.75) translateY(0);
            transform: scale(0.75) translateY(0);
  }
  to {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

@media (max-width: 900px) {
  .journal-nav {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  .carousel-text {
    font-size: 8vw;
    left: 5%;
  }
}

@media (max-width: 500px) {
  .journal-nav {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .carousel-text {
    font-size: 12vw;
    left: 1rem;
  }
  .popup_inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
  }
}

@media (max-width: 337px) {
  .navbar .navbar-toggler {
    margin: auto;
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
