$base-color: #3d4856;
$base-light-color: #93adcf;
$backgroundColor: #b4bfcf;
$secondary-color: #9f818a;
$secondary-light-color: #d6b6c0;
$link-text-color: white;
html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  background: $backgroundColor;
}

a {
  color: $base-color;
}

a:hover {
  color: $secondary-color;
}

.contact-info-item {
  color: $base-color;
}

.about-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  li {
    list-style-type: none;
    border-radius: 25%;
    background-color: $link-text-color;
  }
  li > a {
    display: flex;
    flex-direction: column;
    color: $secondary-color;
    padding: 1rem;
    transition: background-color 0.2s ease-in;
    &:hover {
      color: $base-color;
      background-color: $secondary-light-color;
    }
    div {
      display: flex;
      justify-content: space-around;
    }
  }
}
.bg-transparent {
  background: transparent;
}
.bg-transparent .nav-link {
  color: white;
}

.bg-base {
  background: $backgroundColor;
}

.bg-transparent .dropdown-menu .dropdown-item {
  color: $link-text-color;
  background: transparent;
  font-size: 20px;
}
.dropdown-menu .dropdown-item {
  color: $secondary-color;
}

nav.navbar.navbar-expand-md {
  transition: background-color 500ms ease-in;
}

.w-90 {
  width: 90%;
}

.navbar-collapse {
  li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.btn-base {
  color: $link-text-color;
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.btn-base:hover {
  background-color: $base-color;
  border-color: $base-color;
}

.table thead th {
  width: 1rem;
}

.link-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: 600;
  background: $secondary-color;
  padding: 0.5rem;
}

.links-to-gallery {
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  a {
    padding: 1.9rem;
    background-color: $secondary-color;
    transition: opacity 0.2s ease-in;

    div {
      position: relative;
      background-repeat: no-repeat;
      font-size: 2.5rem;
      display: flex;
      color: $link-text-color;
      background-size: cover;
      text-decoration: none;
    }
  }
  a:hover {
    opacity: 0.5;
  }
}

.table td,
.table th {
  text-align: center;
}
.journal-nav {
  grid-template-columns: repeat(3, 1fr);
}

.fitted-image {
  width: 100%;
  height: 65vh;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  // transition: background-image 1s ease-in-out;
}
.contain-image {
  width: 100%;
  object-fit: contain;
  background-size: contain;
  background-position: center;
  // transition: background-image 1s ease-in-out;
}

.carousel-item {
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.carousel-text {
  position: absolute;
  top: 20vh;
  left: 5%;
  color: $base-color;
  z-index: 1;
  font-size: 10vh;
  display: flex;
  flex-direction: column;
  p {
    text-align: start;
    span {
      background-color: $link-text-color;
      opacity: 0.5;
    }
  }
}

// .container {
//   padding-top: 50px;
// }

.navbar .nav-link {
  font-size: 21px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  margin-top: 3rem;
}

footer h6,
p {
  text-align: center;
}

h2 {
  color: $base-color;
  margin: 1rem auto;
}

.come-in {
  transform: scale(0.5) translateY(30px);
  animation: come-in 0.5s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.4s; /* So they look staggered */
}

#contactForm {
  padding: 1rem;
}

.login-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  // display: none;
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
  input {
    display: block;
    margin: auto;
  }
}

.login-button {
  display: block;
  margin: auto;
}

@keyframes come-in {
  from {
    transform: scale(0.75) translateY(0);
  }
  to {
    transform: scale(1) translateY(0);
  }
}

@media (max-width: 900px) {
  .journal-nav {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1024px) {
  .carousel-text {
    font-size: 8vw;
    left: 5%;
  }
}

@media (max-width: 500px) {
  .journal-nav {
    grid-template-columns: repeat(1, 1fr);
  }
  .carousel-text {
    font-size: 12vw;
    left: 1rem;
  }
  .popup_inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
  }
}
@media (max-width: 337px) {
  .navbar .navbar-toggler {
    margin: auto;
  }
}

// CSS SPINNER
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
