@font-face {
  font-family: "Frutilla-Script";
  src: local("Frutilla"),
    url(../fonts/Frutilla/Frutilla_Script.ttf) format("truetype");
}

@font-face {
  font-family: "Garamond";
  src: local("Garamond"), url(../fonts/Garamond/Garamond.ttf) format("truetype");
}

@font-face {
  font-family: "Sui_generis";
  src: local("Sui_generis"),
    url(../fonts/Sui_generis/sui_generis_rg.ttf) format("truetype");
}

$base-color: #3d4856;
$base-light-color: #93adcf;
$bgBase: white;
$bgLight: #faf7f6;
$bgDark: #dfe1e3;
$secondary-color: #9f818a;
$secondary-light-color: #d6b6c0;
$link-text-color: white;
// $min-viewport-width:300px;
// $max-viewport-width:1920px;
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  background: $bgBase;
  // font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  // line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

a {
  color: $base-color;
  font-family: "Garamond";
  letter-spacing: 2px;
}

p {
  font-family: "Garamond";
}

h1 {
  font-family: "Frutilla-Script";
  color: white;
  font-size: 8vw;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Sui_generis";
  letter-spacing: 5px;
}

a:hover {
  color: $secondary-color;
}

.contact-info-item {
  color: $base-color;
}

.hero {
  position: absolute;
  height: 60%;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  transition: top 1s ease-in-out;
}
.title-text {
  font-weight: 500;
}
.hero-subtitle {
  letter-spacing: 1.34rem;
  padding: 1rem;
  border: 1px solid $base-color;
}
.hero-keywords {
  position: absolute;
  bottom: 0;
}
.hero-keyword {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1.22rem;
}
.hero-social-container {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  .hero-social {
    margin: 0.5rem;
  }
}

.about-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  li {
    list-style-type: none;
    border-radius: 25%;
    background-color: $link-text-color;
  }
  li > a {
    display: flex;
    flex-direction: column;
    color: $secondary-color;
    padding: 1rem;
    transition: background-color 0.2s ease-in;
    &:hover {
      color: $base-color;
      background-color: $secondary-light-color;
    }
    div {
      display: flex;
      justify-content: space-around;
    }
  }
}

.about-intro-text {
  background-color: rgba($bgLight, 0.5);
  width: 25rem;
  position: absolute;
  right: 5%;
  top: 10%;
  padding: 2rem;
  text-align: center;
}

.about-text-2 {
  background-color: $bgBase;
  margin: 7rem;
  font-size: 21px;
}

.about-last-section {
  background-color: $bgLight;
  display: flex;
  width: 85%;
  margin: auto;
  div {
    flex-basis: 100%;
  }
  .about-last-text {
    p {
      padding: 2rem;
      font-size: 21px;
    }
    .about-button {
      display: block;
      text-align: center;
      width: 80%;
      margin: auto;
    }
  }
  .about-image-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    img:first-child {
      transform: rotate(10deg);
      width: 100%;
      margin-bottom: 9rem;
      margin-left: 2rem;
    }
    img:nth-child(2) {
      width: 70%;
      margin-top: -9rem;
    }
  }
}

.bg-transparent {
  background: transparent;
}
.bg-transparent .nav-link {
  color: white;
}

.bg-base {
  background: $bgBase;
}
.bgLight {
  background: $bgLight;
}

.bg-base-color {
  background: $base-color;
}

.bg-transparent .dropdown-menu .dropdown-item {
  color: $link-text-color;
  background: transparent;
  font-size: 15px;
}
.dropdown-menu .dropdown-item {
  color: $secondary-color;
}

nav.navbar.navbar-expand-md {
  transition: background-color 500ms ease-in;
  background: $base-light-color;
}

.w-90 {
  width: 90%;
}

.navbar-collapse {
  li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.btn-base {
  color: $link-text-color;
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.btn-base:hover {
  background-color: $base-color;
  border-color: $base-color;
}

.table thead th {
  width: 1rem;
}

.link-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 600;
  font-family: "Garamond";
  letter-spacing: 3px;
  text-decoration: underline;
}

.links-to-gallery {
  display: flex;
}
.links-to-gallery-layout {
  display: flex;
  flex-direction: column;
  width: 50%;
  transition: width 1s ease-in-out;
  .two-links {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  .single-link {
    display: flex;
    height: 50%;
    a {
      width: 100%;
      height: 100%;
    }
  }
}

.table td,
.table th {
  text-align: center;
}
.journal-nav {
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.journal-link {
  width: 350px;
  height: 450px;
  padding: 1rem;
}

.journal-link-image {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.journal-text-block {
  display: flex;
  flex-direction: column;
}

.intro-image {
  background-attachment: "fixed";
  background-repeat: "no-repeat";
}

.viewContainer {
  perspective: 1600px;
  // perspective-origin: 300px 300px;

  .slice {
    position: relative;
    min-width: 300px;
    min-height: 300px;
    width: 80vw;
    height: 450px;
    /* 3D Transforms attributes */
    transform-style: preserve-3d;
    transform-origin: 50% 50%;

    // rotate
    animation-play-state: paused;
    animation-name: flip;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 6s;
  }

  .slice > div {
    position: absolute;
    min-width: 300px;
    min-height: 300px;
    width: 80vw;
    height: 450px;
    // opacity: 0.7;
    transform-origin: 50% 50%;
    backface-visibility: hidden;
  }

  /*--- Faces ---*/
  .facefront {
    // height: 50vh;
    background-color: transparent;
    transform: translateZ(1px);
  }
  .faceback {
    // height: 50vh;
    background-color: transparent;
    transform: rotateY(180deg) translateZ(1px);
  }
}

.fitted-image {
  width: 100%;
  height: 65vh;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  // transition: background-image 1s ease-in-out;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.contain-image {
  width: 100%;
  object-fit: contain;
  background-size: contain;
  background-position: center;
  // transition: background-image 1s ease-in-out;
}

.carousel-item {
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.delete-set {
  width: 100%;
}

.input-no-border {
  border: none;
  background: transparent;
  width: 70%;
  margin: auto;
}

.carousel-text {
  position: absolute;
  top: 20%;
  left: 0;
  color: $base-color;
  z-index: 1;
  display: flex;
  flex-direction: column;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  p {
    font-size: 8rem;
    font-family: "Frutilla-Script";
    text-align: center;
    color: $link-text-color;
    margin-bottom: -1rem;
    letter-spacing: 9px;
  }
  .carousel-text-subtitle {
    color: $base-color;
    font-family: "Sui_generis";
    letter-spacing: 10px;
    font-size: 1.6rem;
  }
}

.carousel-text3 {
  font-size: 1rem;
  font-family: "Sui_generis";
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  color: white;
  position: relative;
  top: 80vh;
  letter-spacing: 8px;
}

.navbar .nav-link {
  font-size: 1rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

footer h6,
p {
  text-align: center;
}

footer {
  background: rgba(169, 169, 169, 0.3);
}

h2,
h3 {
  color: $base-color;
  margin: 1rem auto;
}

.come-in {
  transform: scale(0.5) translateY(30px);
  animation: come-in 0.5s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.4s; /* So they look staggered */
}

.contact-form-container {
  background-color: $bgLight;
}

#contactForm {
  margin: auto;
  width: 90%;
  background-color: rgba($bgLight, 0.7);
  padding: 1rem;
  ::placeholder {
    text-align: center;
    border-bottom: 1px solid $base-color;
  }
  input,
  textarea {
    border: none;
    background: transparent;
    width: 70%;
    margin: auto;
  }
}

.login-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  // display: none;
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
  input {
    display: block;
    margin: auto;
  }
}

.login-button {
  display: block;
  margin: auto;
}

.session-delete::after {
  background-color: red;
  z-index: 100;
}

.horizontal-scroll-menu {
  background-color: $bgDark;
  .menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
  }
  // .menu-item-wrapper.active {
  //   border: 1px blue solid;
  // }
  // .menu-item.active {
  //   border: 1px green solid;
  // }

  .scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
  }
}

@keyframes come-in {
  from {
    transform: scale(0.75) translateY(0);
  }
  to {
    transform: scale(1) translateY(0);
  }
}

@media (min-width: 777px) {
  .links-to-gallery-layout {
    a:hover {
      transform: scale(1.15);
      z-index: 100;
      transition: 0.25s;
    }
  }
  #contactForm {
    width: 70%;
  }
}
@media (min-width: 1440px) {
  .about-intro-text {
    background-color: rgba($bgLight, 0.5);
    width: 25rem;
    position: absolute;
    right: 15%;
    top: 10%;
    padding: 2rem;
    text-align: center;
  }
}
@media (max-width: 1440px) {
  .about-intro-text {
    background-color: rgba($bgLight, 0.5);
    width: 25rem;
    position: absolute;
    right: 5%;
    top: 10%;
    padding: 2rem;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  // .carousel-text {
  //   font-size: 6rem;
  // }
  .carousel-text3 {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .about-intro-text {
    background-color: rgba($bgLight, 0.5);
    width: 25rem;
    position: absolute;
    top: 10%;
    padding: 2rem;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .about-text-2 {
    background-color: white;
    margin: 3rem;
    font-size: 21px;
  }
  .about-last-section {
    flex-direction: column;
    .about-last-text {
      p {
        padding: 0.5rem;
        font-size: 21px;
      }
    }
    .about-image-container {
      margin-top: 10%;
    }
  }
  .links-to-gallery {
    display: flex;
    flex-direction: column;
  }
  .links-to-gallery-layout {
    width: 100%;
    .single-link {
      width: 50%;
      margin: auto;
      a {
        width: 100%;
        height: 100%;
      }
    }
  }
  footer {
    .link-overlay-text {
      font-size: 10px;
    }
  }
}

@media (max-width: 500px) {
  .journal-nav {
    grid-template-columns: 1fr;
  }

  .carousel-text3 {
    font-size: 12px;
  }
  .popup_inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
  }
  .about-intro-text {
    background-color: white;
    width: 19rem;
    position: absolute;
    top: 10%;
    padding: 2rem;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .about-text-2 {
    background-color: white;
    margin: 2rem;
    font-size: 1.3rem;
  }
}
@media (max-width: 425px) {
  // .carousel-text {
  //   font-size: 6rem;
  // }
  .about-text-2 {
    margin: 1rem;
  }
}

@media (max-width: 337px) {
  .navbar .navbar-toggler {
    margin: auto;
  }
}

// CSS SPINNER
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

// INPUT FILE STYLES
.journal-image-text {
  border: none;
  background: transparent;
  width: 100%;
  // resize: none;
}
.journal-image-text::placeholder {
  text-align: center;
}
.title-input {
  border: none;
  background: transparent;
  text-align: center;
  width: 70%;
  resize: none;
  font-size: 3rem;
}

.file-drop {
  /* relatively position the container bc the contents are absolute */
  position: relative;
  height: 100%;
  width: 100%;
}

.file-drop > .file-drop-target {
  /* basic styles */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  /* --------------- */

  /* horizontally and vertically center all content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  /* --------------- */
}

.file-drop > .file-drop-target.file-drop-dragging-over-frame {
  /* overlay a black mask when dragging over the frame */
  border: none;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: none;
  z-index: 50;
  opacity: 1;
  /* --------------- */

  /* typography */
  color: white;
  /* --------------- */
}

.file-drop > .file-drop-target.file-drop-dragging-over-target {
  /* turn stuff orange when we are dragging over the target */
  color: #ff6e40;
  box-shadow: 0 0 13px 3px #ff6e40;
}

[data-rbd-droppable-context-id] {
  width: 100%;
}
